<!doctype html>
<html lang="en">
    <head>
        <!-- Title block allowing child pages to override -->
        <title>{% block title %}Tertulia{% endblock %}</title>
				<meta name="viewport" content="width=device-width, user-scalable=no">
        <link rel="shortcut icon" type="image/ico" href="/favicon.ico" />
				<link rel="image_src" href="/assets/img/logo-black-square.jpg" />
				<meta property="og:image" content="/assets/img/logo-black-square.jpg"/>
        <!-- Styles -->
				<link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:300italic,400italic,600italic,400,600,300' rel='stylesheet' type='text/css'>
				<link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
				<link rel="stylesheet" href="http://qtip2.com/v/2.2.0/basic/jquery.qtip.min.css" />
        {{ "app.css" | asset_url | stylesheet_tag }}
        <!-- Style block allowing child pages to inject their own styles -->
        {% block styles %}{% endblock %}
    </head>
    <body>
				<!-- Include -->
				{% include "header" %}
				<!-- Content block, child page inject content -->
				{% assign concert = model %}
				{% assign cid = concert.concert_id %}
	<section class="event-intro" id="decoda" style="background:url({{ concert.feature }}) center center no-repeat;background-size:cover;">
		<div class="intro-title">
			<div class="row clearfix">
				<div class="column full">
					<h2>{{ concert.calendar_month }}, {{ concert.calendar_year }} | 7PM</h4>
					<h3>{{ concert.location }} | {{ concert.address }}</h3>
					<a href="#tickets" class="button raised-button action-button accent"><i class="fa fa-ticket"></i></a>
				</div>
			</div>
		</div>
	</section>
	<section id="event-program">
		<h2 class="section-title">{{ concert.title }}</h2>
		<div class="row clearfix">
			<div class="column two-thirds push-sixth">
				<div class="row clearfix">
				{% block content %}{% endblock %}
				</div>
			</div>
		</div>
	</section>
	<section id="tickets">
		<h2 class="section-title">Tickets</h2>
		<div class="row clearfix">
			<div class="column two-thirds push-sixth">
				<div style="width:100%; text-align:left;" ><iframe src="{{ concert.eventbrite }}" frameborder="0" height="500" width="100%" vspace="0" hspace="0" marginheight="5" marginwidth="5" scrolling="auto" allowtransparency="true"></iframe><div style="font-family:Helvetica, Arial; font-size:10px; padding:5px 0 5px; margin:2px; width:100%; text-align:left;" ><a style="color:#ddd; text-decoration:none;" target="_blank" href="http://www.eventbrite.com/r/etckt">Event registration</a><span style="color:#ddd;"> for </span><a style="color:#ddd; text-decoration:none;" target="_blank" href="https://www.eventbrite.com/e/tertulia-chamber-music-at-hardings-nyc-complete-2014-2015-season-tickets-12854013701?ref=etckt">Tertulia Chamber Music at Harding's NYC - Complete 2014-2015 Season</a> <span style="color:#ddd;">powered by</span> <a style="color:#ddd; text-decoration:none;" target="_blank" href="http://www.eventbrite.com?ref=etckt">Eventbrite</a></div></div>
				<!--<table class="ticket-table">
					<thead>
						<tr>
							<th>Ticket Type <sup>1</sup></th>
							<th>Concert</th>
							<th>Price</th>
							<th>Fee</th>
							<th>Quantity</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td><strong>Sponsor</strong> <a class="tooltip" title="Two (2) ticket minimum (a table) includes prix fixe dinner, front row table, a tax-deductible donation, one round on us, and your name listed in our program."><i class="fa fa-info-circle"></i></a></td>
							<td>
								{% collection "concerts" order asc %}
								<select name="concert" id="first-select">
									{% for concert in collection.items %}
									<option value="{{ concert.concert_id }}"{% if cid == concert.concert_id %} selected{% endif %} data-desc="on {{ concert.calendar_month }} at {{concert.location}}">{{ concert.calendar_month }} {{ concert.title }}</option>
									{% endfor %}
								</select>
							</td>
							<td>$110.00</td>
							<td>$2.50</td>
							<td>
								<select name="quantity-sponsor" id="">
									<option value="0">-</option>
									<option value="2">2</option>
									<option value="3">3</option>
									<option value="4">4</option>
									<option value="5">5</option>
									<option value="6">6</option>
									<option value="7">7</option>
									<option value="8">8</option>
								</select>
							</td>
						</tr>
						<tr>
							<td><strong>Patron</strong> <a class="tooltip" title="Includes dinner, a seat at a table with an excellent view, and your name listed in our program."><i class="fa fa-info-circle"></i></a></td>
							<td>
								<select name="concert" id="">
									{% for concert in collection.items %}
									<option value="{{ concert.concert_id }}"{% if cid == concert.concert_id %} selected{% endif %}>{{ concert.calendar_month }} {{ concert.title }}</option>
									{% endfor %}
								</select>
							</td>
							<td>$100.00</td>
							<td>$2.50</td>
							<td>
								<select name="quantity-patron" id="">
									<option value="0">-</option>
									<option value="1">1</option>
									<option value="2">2</option>
									<option value="3">3</option>
									<option value="4">4</option>
									<option value="5">5</option>
									<option value="6">6</option>
									<option value="7">7</option>
									<option value="8">8</option>
								</select>
							</td>
						</tr>
						<tr>
							<td><strong>Friend</strong> <a class="tooltip" title="Includes a seat at a table and prix fixe dinner."><i class="fa fa-info-circle"></i></a></td>
							<td>
								<select name="concert" id="">
									{% for concert in collection.items %}
									<option value="{{ concert.concert_id }}"{% if cid == concert.concert_id %} selected{% endif %}>{{ concert.calendar_month }} {{ concert.title }}</option>
									{% endfor %}
								</select>
							</td>
							<td>$75.00</td>
							<td>$2.50</td>
							<td>
								<select name="quantity-friend" id="">
									<option value="0">-</option>
									<option value="1">1</option>
									<option value="2">2</option>
									<option value="3">3</option>
									<option value="4">4</option>
									<option value="5">5</option>
									<option value="6">6</option>
									<option value="7">7</option>
									<option value="8">8</option>
								</select>
							</td>
						</tr>
						<tr>
							<td><strong>General Entry</strong> <a class="tooltip" title="Includes a seat at the bar, but NOT dinner. "><i class="fa fa-info-circle"></i></a></td>
							<td>
								<select name="concert" id="">
									{% for concert in collection.items %}
									<option value="{{ concert.concert_id }}"{% if cid == concert.concert_id %} selected{% endif %}>{{ concert.calendar_month }} {{ concert.title }}</option>
									{% endfor %}
								</select>
								{% endcollection %}
							</td>
							<td>$20.00</td>
							<td>$2.50</td>
							<td>
								<select name="quantity-general" id="">
									<option value="0">-</option>
									<option value="1">1</option>
									<option value="2">2</option>
									<option value="3">3</option>
									<option value="4">4</option>
									<option value="5">5</option>
									<option value="6">6</option>
									<option value="7">7</option>
									<option value="8">8</option>
								</select>
							</td>
						</tr>
					</tbody>
				</table>
				<p><em>1) All tickets include concert and reserved seating</em></p>
				<table class="ticket-table">
					<thead>
						<tr>
							<th>Become a Tertulia Member</th>
							<th>&nbsp;</th>
							<th>Price</th>
							<th>Fee</th>
							<th>Quantity</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>
								Membership Benefits <a class="tooltip" title="&bull; Acknowledgement in every program for our 2014-2015 season<br>&bull; A tax-deductible donation to Tertulia, Inc. a 501(c)(3)<br>&bull; Special invitations to private events with Tertulia's Board of Directors, Artistic Directors, and artists<br>&bull; Season-long 10% discount at Harding's<br>&bull; Priority access to pre-sale tickets<br>&bull; Friends and family discounts to select Tertulias<br>&bull; Exclusive invitations to open rehearsals with Tertulia musicians"><i class="fa fa-info-circle"></i></a></td>
							<td>&nbsp;</td>
							<td>$200.00</td>
							<td>n/a</td>
							<td>
								<select name="quantity" id="">
									<option value="0">-</option>
									<option value="1">1</option>
									<option value="2">2</option>
									<option value="2">3</option>
									<option value="2">4</option>
									<option value="2">5</option>
									<option value="2">6</option>
									<option value="2">7</option>
									<option value="2">8</option>
								</select>
							</td>
						</tr>
					</tbody>
				</table>
				<table class="ticket-table">
					<thead>
						<tr>
							<th>Make a Donation</th>
							<th>Amount</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>Tertulia is a non-profit 501(c)(3). Today, ticket sales cover 80% of our operational costs, but we need your help to balance our budget. Please show your support by making a donation.</td>
							<td>
								<select name="donation" id="">
									<option value="0">-</option>
									<option value="">$10</option>
									<option value="">$25</option>
									<option value="">$50</option>
									<option value="">$75</option>
									<option value="">$100</option>
								</select>
							</td>
						</tr>
					</tbody>
				</table>
				<div class="checkout-actions">
					<a href="#" class="button raised-button">Reset Form</a>
					<a href="#" class="button raised-button primary" id="checkout-btn">Checkout</a>
				</div>-->
			</div>
		</div>
	</section>
				<footer id="mainfoot">
					<div class="row clearfix">
						<div class="column one-third hide-phone" id="footer-about">
							<h3>About Tertulia</h3>
							<p>Tertulia is a chamber music series that is designed to attract new and experienced audiences alike, or really, anyone who loves incredible food and music. Tertulia presents world-class chamber music concerts in restaurants around the city, with three performances separated by extended intermissions. The format and program is designed to enhance the social and culinary experience, but at all Tertulias, the music is paramount.</p>
							<a href="../about.html" class="button raised-button primary">Read More</a>
						</div>
						<div class="column one-third hide-phone">
							<h3>Quick Links</h3>
							<ul class="unstyled link-list">
								<li><a href="../about.html">About</a></li>
								<li><a href="../support.html">Support</a></li>
								<li><a href="../contact.html">Contact</a></li>
								<li><a href="../season.html">Season & Tickets</a></li>
								<li><a href="../musicians.html">Artists</a></li>
								<li><a href="../restaurants.html">For Restaurants</a></li>
								<li><a href="http://blog.tertulianyc.org/" target="_blank">Blog</a></li>
							</ul>
						</div>
						<div class="column one-third phone-full">
							<form action="">
								<fieldset>
									<legend>Join Our Mailing List</legend>
									<label for="email">Email Address</label>
									<input type="email" placeholder="example@example.com" />
									<button type="submit" class="button raised-button primary">Subscribe</button>
								</fieldset>
							</form>
						</div>
					</div>
				</footer>
				<div id="modal-checkout" style="display:none;width:100%;height:100%;position:fixed;top:0;left:0;background:rgba(0,0,0,0.8);text-align:center;z-index:102;">
					<div id="checkout-container" style="background:#fff;box-shadow:0 0 2em #000;width:50%;margin-top:8em;margin-left:25%;padding:2em;text-align:left;">
						<form id="checkout" method="post" action="/checkout">
							<p style="text-align:left;margin-bottom:2em;">You are purchasing <span id="ticket-desc">n/a</span> for the Tertulia performance <span id="location-desc">n/a</span>. To complete your purchase please fill out the payment details below.</p>
							<label for="name">Full Name</label>
							<input data-braintree-name="cardholder_name" placeholder="John Smith">
							<label for="email">Email Address</label>
							<input data-braintree-name="cardholder_email" type="email" placeholder="example@example.com">
							<label for="ccnum">CC Number</label>
							<input data-braintree-name="number">
							<label for="exp">Expiration</label>
							<input data-braintree-name="expiration_date" placeholder="10/20">
							<!--<label for="email">Email Address</label>
							<input name="email" type="email" placeholder="example@example.com">-->
							<input id="total-btn" type="submit" class="button raised-button primary" value="Pay $10">
						</form>
					</div>
				</div>
				<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
				<script src="http://qtip2.com/v/2.2.0/basic/jquery.qtip.min.js"></script>
				<script src="https://js.braintreegateway.com/v2/braintree.js"></script>
        <!-- Script block allowing child pages to inject their own scripts -->
        {% block scripts %}{% endblock %}
        <script type="text/javascript">
					$(document).ready(function(){
						$('.card .media-area').each(function(){
							var iWidth = $(this).width();
							var fHeight = (iWidth * 187) / 301;
							$(this).height(fHeight);
						});
						$('#mobile-menu').click(function(e){
							e.preventDefault();
							$('.menu-overlay').addClass('open');
						});
						$('.tooltip').qtip({
							style: {
								classes: 'qtip-light qtip-shadow'
							}
						});
						$('#checkout-btn').click(function(e){
							e.preventDefault();
							var sponsorTotal = $('select[name="quantity-sponsor"]').val() * 112.50;
							var patronTotal = $('select[name="quantity-patron"]').val() * 102.50;
							var friendTotal = $('select[name="quantity-friend"]').val() * 82.50;
							var generalTotal = $('select[name="quantity-general"]').val() * 22.50;
							var total = sponsorTotal + patronTotal + friendTotal + generalTotal;
							var tixDesc = '';
							var locationDesc = $('#first-select option:selected').attr('data-desc');
							if(sponsorTotal) {
								tixDesc += $('select[name="quantity-sponsor"]').val()+' Sponsor level ticket(s)';
								if(patronTotal || friendTotal || generalTotal) {
									tixDesc += ' and ';
								}
							}
							if(patronTotal) {
								tixDesc += $('select[name="quantity-patron"]').val()+' Patron level ticket(s)';
								if(friendTotal || generalTotal) {
									tixDesc += ' and ';
								}
							}
							if(friendTotal) {
								tixDesc += $('select[name="quantity-friend"]').val()+' Friend level ticket(s)';
								if(generalTotal) {
									tixDesc += ' and ';
								}
							}
							if(generalTotal) {
								tixDesc += $('select[name="quantity-friend"]').val()+' General admission ticket(s)';
							}
							if(!total){
								alert('You forgot to select your tickets!');
							}
							else {							
								$.post('/payments.php', 'cool', function(data){
									var token = data;
									$('#modal-checkout').fadeIn('normal', function(){
										$('#ticket-desc').html(tixDesc);
										$('#location-desc').html(locationDesc);
										console.log(locationDesc);
										$('#total-btn').val('Pay $'+total);
										braintree.setup(token, "custom", {
											id: "checkout"
										});
										$('#modal-checkout').click(function(){
											$(this).fadeOut();
										});
									});
								});
							}
						});
					});
				</script>
			<script>
				(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
				(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
				m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
				})(window,document,'script','//www.google-analytics.com/analytics.js','ga');

				ga('create', 'UA-23067447-1', 'auto');
				ga('send', 'pageview');

			</script>
    </body>
</html>