{% block content %} 
	<section class="event-intro" id="decoda">
		<div class="intro-title">
			<div class="row clearfix">
				<div class="column full">
					<h2>Next Tertulia | Dover Quartet at Tarallucci e Vino</h4>
					<h3>January 11, 2015 | 7PM</h3>
					<a href="/concerts/1415/january.html" class="button raised-button action-button accent"><i class="fa fa-ticket"></i></a>
				</div>
			</div>
		</div>
	</section>
	<section id="season">
		<h2 class="section-title">2014-2015 Season</h2>
		{% collection "concerts" by 20 query 'upcoming=true' order asc %}
		{% for concert in collection.items %}
		<div class="row clearfix">
			<div class="column two-thirds push-sixth">
				<div class="row clearfix event-row">
					<div class="column one-quarter event-date hide-phone">
						<span class="year">{{ concert.calendar_month }}</span>
						<span class="month-day">{{ concert.calendar_year }}</span>
					</div>
					<div class="column three-quarters event-listing phone-full">
						<img src="{{ concert.thumbnail }}" alt="" />
						<h3>{{ concert.group }}</h3>
						<h4>{{ concert.location }} | 7 pm</h4>
						<h4>{{ concert.address }}</h4>
						<div style="clear:both;">
							<a class="button raised-button primary" href="{{ concert.slug }}.html"><i class="fa fa-ticket"></i> Tickets & Info</a>
							<a href="http://www.google.com/calendar/render?action=TEMPLATE&text={{ concert.title }}&dates={{ concert.date | date: '%Y%m%dT%H0000Z' }}/{{ concert.date | date: '%Y%m%dT230000Z' }}&location={{ concert.address }}&sf=true&output=xml" target="_blank" rel="nofollow" class="button raised-button"><i class="fa fa-plus"></i> Add to Calendar</a>
						</div>
					</div>
				</div>
			</div>
		</div>
		{% endfor %}
		{% endcollection %}
		<h2 class="section-title">Past Concerts: 2014-2015 Season</h2>
		{% collection "concerts" by 20 query 'upcoming=false' order asc %}
		{% for concert in collection.items %}
		<div class="row clearfix">
			<div class="column two-thirds push-sixth">
				<div class="row clearfix event-row">
					<div class="column one-quarter event-date hide-phone">
						<span class="year">{{ concert.calendar_month }}</span>
						<span class="month-day">{{ concert.calendar_year }}</span>
					</div>
					<div class="column three-quarters event-listing phone-full">
						<a href="{{ concert.slug }}.html"><img src="{{ concert.thumbnail }}" alt="" /></a>
						<h3>{{ concert.group }}</h3>
						<h4>{{ concert.location }} | 7 pm</h4>
						<h4>{{ concert.address }}</h4>
					</div>
				</div>
			</div>
		</div>
		{% endfor %}
		{% endcollection %}
	</section>
{% endblock %}
{% block scripts %}
{% endblock %}